<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>Product Page</div>
    <div>I am <%=member.memberNick%></div>

    <% data.map((product, index) => { %>
    <p><%= product.productName %> - <%= product.productSize %></p>
    <% } ) %>
  </body>
</html>
