<%-include("includes/header.ejs")%>
<body>
  <div class="format1">Users Page</div>

  <button type="button" class="btn btn-success">Success</button>
  <button type="button" class="btn btn-danger">Danger</button>
  <button type="button" class="btn btn-warning">Warning</button>
</body>
<%-include("includes/footer.ejs")%>
